/*this is used to horizontally center the reload_data button when the others panel is present*/
.reload_data_button_custom {
	top:19px !important;
}
/* this is used to create a space between the user report and quickedit icons in the edit column*/
.x-action-col-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}


/*sets background color of header bar*/
.x-panel-header {
        background-color:#003157!important;
}

/*adds some space between the help button and pulldown in the header bar*/
.my-header-item {
	margin-right:5px;
	margin-left:5px;
}

/*formatting for the links in the header bar*/
.x-panel-header a:link {color:white; text-decoration: none; font-weight:600;}
.x-panel-header a:visited {color:white; text-decoration: none; font-weight:600;}
.x-panel-header a:active {color:white; text-decoration: none; font-weight:600;}
.x-panel-header .my-header-link a:hover {color:white; font-weight:900;background-color:#3BA7F5}



.x-column-header .header-icon  a:hover {color:blue; font-weight:900;background-color:#3BA7F5}
.x-grid-cell-inner a:hover {font-weight:900;background-color:#3BA7F5}

.gradebookgold { 
	text-decoration: none;
	color:#FF9900;
	font-weight:900;
}

.smuserreportlink { 
	text-decoration: none;
	color:gray;
	font-weight:900;
}
.topnavlinks { 
	text-decoration: none;
	color:white;
	font-weight:800;
}
